.clock{
    color: white;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    
    -webkit-line-break: pre-line;
    & > div > div{
        padding: 1em;
    }
}

.alarm-on {
  -webkit-animation: alarm-on 0.99s infinite;  /* Safari 4+ */
}

@-webkit-keyframes alarm-on {
  0%, 33% {
    background-color: none;
  }
  34%, 66% {
    background-color: #ad0000;
  }
  66%, 100% {
    background-color: none;
  }
}
